# **Getting the timetable schedule from APIs**

In [1]:
import requests
import json
import pandas
from pprint import pprint
import os

In [2]:
file_key = open('api_key.txt', encoding='utf-8')

In [3]:
key = [key.strip() for key in file_key]

In [4]:
api_key = key[0]

headers = {
  'Content-Type': 'application/json; charset=utf-8',
  'x-access-token': api_key
}

In [5]:
trip_id = ['331_243_200302', '331_257_200302', '333_677_200302',
       '333_1072_200302', '333_557_200302', '331_241_200302',
       '333_1064_200302', '333_1115_200302', '331_260_200302',
       '333_1012_200302', '333_1052_200302', '333_1094_200302',
       '333_715_200302', '333_751_200302', '333_651_200307',
       '333_1026_200307', '333_653_200307', '333_671_200307',
       '333_1010_200307', '333_1037_200307', '333_636_200307',
       '333_1014_200307', '333_1047_200307', '333_655_200307',
       '333_1024_200307', '333_673_200307', '333_1012_200307']

In [6]:
schedules = []
for tripid in trip_id:
    api_key = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpbCI6ImphbmR1bGFocnViYUBnbWFpbC5jb20iLCJpZCI6MjY0LCJuYW1lIjpudWxsLCJzdXJuYW1lIjpudWxsLCJpYXQiOjE1ODc2NDg5ODksImV4cCI6MTE1ODc2NDg5ODksImlzcyI6ImdvbGVtaW8iLCJqdGkiOiJiMGQzNGQzMC03ODNlLTQ0MWQtOTQwMC04MGMwNmZmYTQ3NDkifQ.j0q7LKzycT3zmVLxxkPlWKIYCkl_PYfjgIraFtRQ1YA"
    headers = {
    'Content-Type': 'application/json; charset=utf-8',
    'x-access-token': api_key
    }

    response1 = requests.get(f'https://api.golemio.cz/v2/gtfs/trips/{tripid}?includeStops=true&includeStopTimes=true', headers = headers)
    #print(response1)
    
    if response1.status_code == 200:
        info_all = json.loads(response1.text)
       
        final = pandas.json_normalize(info_all['stop_times'])
        #print(final)
        final.drop(inplace=True,columns=['arrival_time_seconds','departure_time_seconds','drop_off_type','pickup_type','stop_headsign',
                                 'stop.properties.stop_code','stop.properties.stop_desc','stop.properties.stop_timezone','stop.properties.stop_url',
                                 'stop.properties.wheelchair_boarding','stop.properties.zone_id','stop.type','stop.geometry.type','stop.properties.level_id','stop.properties.location_type',
                                 'stop.properties.parent_station','stop.properties.platform_code','stop.properties.stop_id','timepoint'])
        final.columns = ['ARRIVAL_TIME','DEPARTURE_TIME', 'SHAPE_DIST_TRAVELED', 'STOP_ID','STOP_SEQUENCE', 'TRIP_ID', 'GEOMETRY_COORDINATES', 'STOP_NAME']
        schedules.append(final)

In [7]:
result = pandas.concat(schedules)
result.to_csv('timetable.csv', encoding="utf-8", index=False)

In [8]:
timetable = pandas.read_csv('timetable.csv', encoding='utf-8', low_memory=False)

In [9]:
timetable

,ARRIVAL_TIME,DEPARTURE_TIME,SHAPE_DIST_TRAVELED,STOP_ID,STOP_SEQUENCE,TRIP_ID,GEOMETRY_COORDINATES,STOP_NAME
0,9:31:00,9:31:00,0.00000,U2109Z2,1,331_243_200302,"[14.49348, 49.89506]","Jílové u Prahy,Náměstí"
1,9:33:00,9:33:00,0.65952,U2100Z2,2,331_243_200302,"[14.48552, 49.8974]","Jílové u Prahy,Učiliště"
2,9:37:00,9:37:00,2.37567,U1586Z2,3,331_243_200302,"[14.46857, 49.89977]","Jílové u Prahy,Kamenná Vrata"
3,9:39:00,9:39:00,4.03046,U1521Z2,4,331_243_200302,"[14.45916, 49.90944]","Okrouhlo,Zahořany"
4,9:43:00,9:43:00,5.86913,U1520Z2,5,331_243_200302,"[14.44766, 49.91885]",Okrouhlo
...,...,...,...,...,...,...,...,...
608,8:15:00,8:15:00,16.22898,U749Z2,24,333_1012_200307,"[14.45197, 50.02019]",Tempo
609,8:16:00,8:16:00,16.56781,U656Z2,25,333_1012_200307,"[14.45149, 50.02318]",Sídliště Krč
610,8:17:00,8:17:00,17.03180,U893Z4,26,333_1012_200307,"[14.45143, 50.02735]",Zálesí
611,8:19:00,8:19:00,17.58466,U488Z7,27,333_1012_200307,"[14.45515, 50.03038]",Nemocnice Krč
612,8:23:00,8:23:00,18.94779,U228Z5,28,333_1012_200307,"[14.46033, 50.04203]",Kačerov